$font-barlow: 'Barlow';
$font-fraunces: 'Fraunces 9pt';
$fraunces-weight: 900;
$hero-header-size: 72px;
$nav-link-size: 12px;
$nav-link-weight: 700;
$nav-link-color: #83888f;
$description-size: 16px;
$description-height: 26px;
$header-size: 24px;
$col-header-lheight: 32px;
$b-radius: 10px;
$products-item-header: 24px;
$products-item-header-lh: 32px;
$text-color: #FEFCF7;
$bizzare-green: #0e8784;
$work-item-distance: 95px;
$work-item-color: #FDD6BA;
$footer-color: #2C343E;
$nav-item-distance: 33px;
$work-item-header: 32px;
$work-item-header-h: 36px;


// Tablet
$tab-hero-header-size: 48px;
$tab-procedure-distance: 10px;